.container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 767px;

  @media (min-width: $tablet) {
    padding: 0 30px;
    min-width: 768px;
    max-width: 1439px;
  }

  @media (min-width: $desktop) {
    padding: 0 60px;
    width: 1340px;
  }


}
