.logo {
  display: flex;
  align-items: center;
}

.logo__picture {
  width: 33px;
  height: 37px;

  background-image: url("../../svg/logo-picture--mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;

  @media (min-width: $tablet) {
    width: 174px;
    height: 53px;
    background-image: url("../../svg/logo-tablet.svg");
  }
}

.logo__name {
  display: block;
  width: 101px;
  height: 18px;
  background-image: url("../../svg/logo-text-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;

  @media (min-width: $tablet) {
    display: none;
  }
}
